[submodule "frontend"]
	path = frontend
	url = https://github.com/lmontassar/internship_management_Angular.git
[submodule "backend"]
	path = backend
	url = https://github.com/lmontassar/internship_management_backend.git
